.testimonial-card {
  margin: 0 auto;
  max-width: 300px;
  border-radius: 10px;
  padding: 20px;
}

.testimonial-card__img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(133, 214, 214);
}

.testimonial-card__img,
.testimonial-card__text {
  margin-bottom: 10px;
}

@media screen and (min-width: 730px) {
  .testimonial-card {
    width: 100%;
    margin-bottom: 24px;
    max-width: 520px;
    padding-top: 27px;
    display: flex;
    column-gap: 20px;
  }

  .testimonial-card.card-2 {
    display: flex;
  }

  .testimonial-card__info {
    order: 1;
  }

  .testimonial-card__img {
    flex: none;
    order: 2;
    width: 100px;
    height: 100px;
  }

  .testimonial-card__text {
    font-weight: 500;
  }
}
