.play-button {
  width: 50px;
  height: 50px;
}

.play-button__ring {
  width: 100%;
  height: 100%;
}

.play-button__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  margin: auto;
}

/* rotating ring animation */
.rotate-ring {
  animation: rotate-play-button-ring 8s linear infinite;
}

@keyframes rotate-play-button-ring {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 992px) {
  .play-button {
    width: 70px;
    height: 70px;
  }

  .play-button__play {
    width: 20px;
    height: 20px;
    transform: translate(-40%, -50%);
  }
}
