html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
