/* font: Epilogue */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700&display=swap");

:root {
  /* breakpoints */
  --xs: 360px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;

  /* gray */
  --gray-100: hsl(0, 0%, 100%);
  --gray-200: hsl(227, 23%, 92%);
  --gray-200: #f9fafb;
  --gray-300: #f2f2f2;
  --gray-400: #adb6bd;
  --gray-500: #939393;
  --gray-700: #050302;

  /* primary */
  --primary: hsl(221, 28%, 41%);

  /* accent */
  --accent: hsl(240, 33%, 97%);

  /* other */
  --vl-blue: hsl(180, 100%, 95%);
}

/************************ topography *************************/
/****** font family ****/
.f-epilogue {
  font-family: "Epilogue", sans-serif;
}

/******* heading *******/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
}

.h1 {
  font-size: 30px;
  line-height: 130%;
}

.h2 {
  font-size: 20px;
  line-height: 150%;
}

.h3 {
  font-size: 16px;
  line-height: 200%;
}

.h4 {
  font-size: 16px;
  line-height: 150%;
}

.h5 {
  font-size: 16px;
  line-height: 120%;
}

.h6 {
  font-size: 12px;
  line-height: 150%;
}

@media screen and (min-width: 992px) {
  .h1 {
    font-size: 60px;
    line-height: 120%;
  }

  .h3 {
    font-size: 24px;
    line-height: 120%;
  }
}

/********* paragraph *********/
.p1,
.p2,
.p3,
.p4,
.p5,
.p6 {
  font-weight: 400;
}

.p1 {
  font-size: 20px;
  line-height: 150%;
}

.p2 {
  font-size: 16px;
  line-height: 200%;
}

.p3 {
  font-size: 14px;
  line-height: 150%;
}

.p3 {
  font-size: 12px;
  line-height: 200%;
}

.p4 {
  font-size: 12px;
  line-height: 150%;
}

@media screen and (min-width: 992px) {
  .p1 {
    font-size: 32px;
    line-height: 150%;
  }
}

/************************ colors **************************/
.c-gray-100 {
  color: var(--gray-100);
}

.c-gray-200 {
  color: var(--gray-200);
}

.c-gray-300 {
  color: var(--gray-300);
}

.c-gray-400 {
  color: var(--gray-400);
}

.c-gray-500 {
  color: var(--gray-500);
}

.c-gray-600 {
  color: var(--gray-600);
}

.c-gray-700 {
  color: var(--gray-700);
}

.c-primary {
  color: var(--primary);
}

.c-accent {
  color: var(--accent);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-vl-blue {
  background-color: var(--vl-blue);
}
