.recent-works {
  padding-bottom: 60px;
}

.recent-works__big-ellipse {
  height: 280px;
  background-image: url("../../assets/img/vector/big-ellipse.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.recent-works__title {
  margin-bottom: 20px;
}

.recent-works__para-1 {
  margin-bottom: 30px;
}

.recent-works__para-2 {
  margin-bottom: 20px;
}

@media screen and (min-width: 576px) {
  .recent-works {
    padding: 150px 0;
  }

  .recent-works .container {
    max-width: 300px;
  }

  .recent-works__big-ellipse {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 810px;
    background-size: contain;
    background-position: right center;
  }

  .recent-works__para-2__container {
    max-width: 340px;
    margin-left: auto;
  }
}

@media screen and (min-width: 674px) {
  .recent-works .container {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .recent-works .container {
    max-width: 450px;
  }

  .recent-works__big-ellipse {
    position: absolute;
    top: 0;
    right: 0;
    width: 405px;
    height: 810px;
    background-size: auto;
    background-position: right center;
  }
}

@media screen and (min-width: 992px) {
  .recent-works .container {
    max-width: 600px;
  }
}
