:root {
  --slt-acc-ani-du: 450ms;
}

.solution__accordion-item {
  background-color: var(--gray-100);
  color: var(--primary);
  transition-property: background-color, color;
  transition-duration: var(--slt-acc-ani-du);
  transition-timing-function: ease-in;
  cursor: pointer;
}

.solution__accordion-item .container {
  margin: 0 auto;
  max-width: 1100px;
}

.solution__accordion-item__banner {
  position: relative;
}

.solution__accordion-item__title-container {
  width: calc(100% - 100px);
  padding: 30px 0;
  display: flex;
}

.solution__accordion-number,
.solution__accordion-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.solution__accordion-number {
  margin-right: 20px;
}

/************ img container ***************/
.solution__accordion-item__img-container {
  /* position */
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  /* dimension */
  width: 80px;
  height: 50px;
  /* transition */
  transition-property: width, height, top, right;
  transition-timing-function: ease-in;
  transition-duration: var(--slt-acc-ani-du);
}

.solution__accordion-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}

/*************** content  container  ****************/
.solution__accordion-item__content-container {
  height: 0;
  overflow: hidden;
  transition: height var(--slt-acc-ani-du) ease-in;
  display: flex;
  align-items: flex-end;
}

.solution__accordion-item__content {
  padding: 20px 0 40px;
  opacity: 0;
  transition: opacity var(--slt-acc-ani-du) ease-in;
  transition-delay: 300ms;
}

.solution__accordion-item__content__title {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
}

.solution__accordion-item__content__para {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 150%;
}

.solution__accordion-item__content__list-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.solution__accordion-item__content__list li {
  font-size: 14px;
  line-height: 200%;
  margin-left: 30px;
}

.solution__accordion-playBanner {
  width: 100%;
}

/****************** underline  *****************/
.solution__accordion-underline {
  border: none;
  width: 100%;
  height: 0.15rem;
  background: var(--primary);
}

/* accordion item active */
.solution__accordion-item.active {
  background-color: var(--primary);
  color: var(--gray-100);
}

.solution__accordion-item.active .solution__accordion-item__content {
  opacity: 1;
}

.solution__accordion-item.active .solution__accordion-item__img-container {
  top: 100%;
  right: 0;
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 400px) {
  .solution__accordion-item.active .solution__accordion-item__img-container {
    right: calc(50% - 155px);
    width: 310px;
  }
}

@media screen and (min-width: 768px) {
  .solution__accordion-item__title-container {
    width: calc(100% - 400px);
    max-width: 440px;
    padding: 60px 0;
  }

  .solution__accordion-number,
  .solution__accordion-title {
    font-size: 24px;
  }

  .solution__accordion-item__img-container {
    width: 180px;
    height: 85px;
    top: calc(50% - 42.5px);
  }

  .solution__accordion-item__content-container {
    width: calc(100% - 410px);
    max-width: 550px;
    transform: translate(0, -30px);
  }

  .solution__accordion-item__content {
    margin-left: auto;
    max-width: 400px;
    padding: 0;
    padding-bottom: 60px;
  }

  .solution__accordion-item__content__title {
    font-size: 16px;
  }

  /* active state */
  .solution__accordion-item.active .solution__accordion-item__img-container {
    top: 60px;
    right: 0;
    width: 390px;
    height: 303px;
  }
}
