.intro {
  position: relative;
  min-height: 300px;
  max-height: 924px;
}

.intro__img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.intro__title {
  color: var(--primary);
}

.intro__play-button {
  display: none;
}

@media screen and (min-width: 576px) {
  .intro {
    background-color: rgba(75, 94, 134, 0.7);
    overflow: hidden;
  }

  .intro__img {
    margin: 0;
  }

  .intro__title {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 480px;
    height: 80px;
    text-align: center;
    color: #e7e9f0;
  }

  .intro__play-button {
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    transform: translate(100px, 80px) rotate(90deg);
  }
}

@media screen and (min-width: 992px) {
  .intro {
    min-height: 600px;
  }

  .intro__title {
    max-width: 990px;
    height: 144px;
  }

  .intro__play-button {
    transform: translate(250px, 150px) rotate(90deg);
  }
}
