.testimonial {
  padding: 50px 0;
  background-color: var(--l-blue);
}

.testimonial-card {
  margin: 0 auto;
  max-width: 300px;
  border-radius: 10px;
  padding: 20px;
}

.testimonial-card__img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(133, 214, 214);
}

.testimonial-card__img,
.testimonial-card__text {
  margin-bottom: 10px;
}

/* testimonial text container */

/* paras */
.testimonial__para-1 {
  margin-bottom: 20px;
}

.testimonial__para-2 {
  margin-bottom: 30px;
}

.testimonial__para-2-container {
  max-width: 300px;
  margin-left: auto;
}

@media screen and (min-width: 576px) {
  .testimonial .wrapper {
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media screen and (min-width: 730px) {
  .testimonial {
    padding: 100px 0;
  }

  .testimonial .wrapper {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
  }

  .testimonial-card {
    margin-bottom: 24px;
    max-width: 520px;
    padding-top: 27px;
    display: flex;
    column-gap: 20px;
  }

  .testimonial-card.card-2 {
    display: flex;
  }

  .testimonial-card__info {
    order: 1;
  }

  .testimonial-card__img {
    flex: none;
    order: 2;
    width: 100px;
    height: 100px;
  }

  .testimonial-card__text {
    font-weight: 500;
  }

  .testimonial__text-container {
    width: 50%;
    min-width: 250px;
    max-width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .testimonial {
    padding: 150px 0;
  }

  .testimonial__para-1 {
    max-width: 360px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1260px) {
  .testimonial .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

/* testimonial__carousel */
.testimonial__carousel {
  margin-bottom: 20px;
}

.testimonial__carousel .slider-wrapper {
  height: 310px !important;
}

.testimonial__carousel .slide {
  text-align: left !important;
}

.testimonial__carousel .control-dots .dot {
  box-shadow: none !important;
  background-color: var(--primary) !important;
  opacity: 0.5;
}

.testimonial__carousel .control-dots .dot.selected {
  opacity: 1;
}

@media screen and (min-width: 730px) {
  .testimonial__carousel .slider-wrapper {
    height: 380px !important;
  }
  .testimonial__carousel .carousel-slider {
    height: 420px !important;
  }
}
