.testimonial {
  padding: 50px 0;
  background-color: var(--l-blue);
}

/* paras */
.testimonial__para-1 {
  margin-bottom: 20px;
}

.testimonial__para-2-container {
  max-width: 300px;
  margin-left: auto;
}

.testimonial__para-2 {
  margin-bottom: 30px;
}

@media screen and (min-width: 576px) {
  .testimonial .wrapper {
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media screen and (min-width: 730px) {
  .testimonial {
    padding: 100px 0;
  }

  .testimonial .wrapper {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
  }

  .tns-outer {
    width: 50%;
  }

  .testimonial .wrapper > * {
    width: 50%;
  }

  .testimonial__text-container {
    min-width: 250px;
    max-width: 500px;
  }

  .testimonial__para-2 {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 992px) {
  .testimonial {
    padding: 150px 0;
  }

  .testimonial__para-1 {
    max-width: 360px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1260px) {
  .testimonial .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

/* testimonial__carousel */
.testimonial__carousel {
  margin-bottom: 20px;
}

.testimonial__carousel .slider-wrapper {
  height: 300px !important;
}

.testimonial__carousel .slide {
  text-align: left !important;
}

.testimonial__carousel .control-dots .dot {
  box-shadow: none !important;
  background: #4b5e86 !important;
  opacity: 0.5 !important;
}

.testimonial__carousel .control-dots .dot.selected {
  opacity: 1 !important;
}

@media screen and (min-width: 730px) {
  .testimonial__carousel .slider-wrapper {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: 0 !important;
    height: 440px !important;
  }

  .testimonial__carousel .control-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }

  .testimonial__carousel .control-dots .dot {
    width: 5px !important;
    height: 10px !important;
    box-shadow: none !important;
    border-radius: 20px !important;
    background: #4b5e86 !important;
    opacity: 1 !important;
  }

  .testimonial__carousel .control-dots .dot.selected {
    height: 30px !important;
  }
}
